<h2>Delete Employee</h2>

<table>
    <form action="/Employee/deleteEmp" method="post">
    <tr>
        <td>Empid:</td>
        <td><input type="text" name="empid" id="empid"></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit">Delete Emp</button></td>
    </tr>
    </form>
</table>