<div>
    <form action="/Employee/getEmp" method="post">
    <table>
        <tr>
            <td>Enter Employee id</td>
            <td><input type="text" name="eid" id="eid"></td>
            
        </tr>
        <tr>
            <td><button type="submit">Enter</button></td>
        </tr>
    </table>
    </form>
</div>