@* empid , name ,email,passw,sal *@
<h1>Add Employee</h1>
<table>
    <form action="/Employee/insertEmp" method="post">
    <tr>
        <td>Empid:</td>
        <td><input type="text" name="empid" id="empid"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="text" name="name" id="name"></td>
    </tr>
     <tr>
        <td>Email</td>
        <td><input type="text" name="email" id="email"></td>
    </tr>
     <tr>
        <td>Password</td>
        <td><input type="password" name="password" id="password"></td>
    </tr>
     <tr>
        <td>Salary</td>
        <td><input type="text" name="salary" id="salary"></td>
    </tr>
    <tr>
        <td><button type="submit" >Submit</button></td>
    </tr>
    </form>
    
</table>