<html>
    <body>
        <table>
            <form action="/Home/Register" method="post">
            <tr>
                <td>Empid:</td>
                <td><input type="text" name="eid" id="eid"></td>
            </tr>
              <tr>
                <td>Name:</td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" id="email"></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input type="text" name="salary" id="salary"></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
            </form>
        </table>
    </body>
</html>